/* // HELPERS // */
.margin-b-10 {
    margin-bottom: 10px;
}
.paddings-10 {
    padding: 10px;
}
/* // HELPERS // */


/* // BUTTONS // */
.button {
    width: 400px;
    max-width: 100%;
    text-decoration: none;
    display: block;

    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;    
       
    background-repeat: no-repeat;
    background-position:28px center  ;
    padding: 14.5px 75px 14.5px 58px;
    position: relative;
}
.b-dark {
    color: #FFFFFF; 
    background-color: #202833;    
    border: 1px solid #26303D;
}
.b-green {
    color: #FFFFFF; 
    background-color: #09945C;
}
.b-green:hover {
    background-color: #007B51;
}
.b-g-all {
    padding: 14.5px;
    text-align: center;
    justify-content: center;
}
.button.b-project {
    background-image: url(../images/buttons/b-project.svg);
}
.b-g-all:after, .b-g-all:before {
    content: '';
    position: absolute;
    width: 61px;
    height: 100%;    
    background-image: url(../images/buttons/gradient-left-green.svg);    
}
.b-g-all:hover:after, .b-g-all:hover:before {
    background-image: url(../images/buttons/gradient-left-green-hover.svg);    
}
.b-g-all:after {
    left: 0;
}
.b-g-all:before {
    right: 0;
    transform: rotate(180deg);
}
.button.b-articles {
    background-image: url(../images/buttons/b-list.svg);
}
.button.b-alphabet {
    background-image: url(../images/buttons/b-alphabet.svg);
}

.button.g-right:after {
    content: '';
    background-image: url(../images/buttons/gradient-right.svg);
    position: absolute;
    right: 0;
    width: 61px;
    height: 100%;
}
.button.b-project:hover {
    background-color: #202833;
}
.button.g-right:hover:after {
    visibility: hidden;
}
/* // BUTTONS // */