.articles {
  display: flex;
  margin-right: 100px;

  &__center {
    padding: 0 64px;

    &-profile {
      width: 100%;
    }
  }

  &__right {
    width: 305px;
    min-width: 305px;
    height: calc(100vh - 400px);
    padding-right: 16px;
    margin-top: -32px;
    overflow: auto;
  }

  &__filter {
    margin-bottom: 32px;
  }

  &__list {
    height: calc(100vh - 460px);
    padding-right: 16px;
    overflow: auto;

    &-popular {
      margin-bottom: 40px;
    }
  }

  &__nav {
    height: 400px;
    padding: 0 16px 0 24px;
    overflow: auto;

    &-link {
      @include font(16px, $color-secondary-300, 700);

      text-decoration: none;
    }
  }

  &__submenu {
    display: none;
    padding-left: 30px;

    &-link {
      @include font(16px, $color-primary-150);

      text-decoration: none;
    }
  }

  &__parent-btn {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    background-color: transparent;
    border-color: $color-secondary-300 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
  }

  &__nav-item.active {
    .articles__submenu {
      display: block;
    }

    .articles__parent-btn {
      border-color: transparent transparent $color-secondary-300;
      border-style: solid;
      border-width: 0 5px 5px;
    }
  }

  &__sort {
    display: none;
    width: 100%;
    max-width: 260px;
    padding-left: 24px;
    margin-bottom: 30px;

    &-text {
      @include font(12px, $color-secondary-400);

      margin-right: 20px;
    }

    .input__sort {
      @include font(12px, $color-secondary-400);

      border: 1px solid $color-secondary-800;
    }
  }
}

.article {
  position: relative;
  padding: 16px 62px 16px 32px;
  margin-bottom: 16px;
  background-color: $color-secondary-850;
  border: 1px solid $color-secondary-820;
  border-radius: 10px;

  &::before {
    @include pseudo-element;

    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    border-radius: 0 10px 10px 0;
  }

  &-marmoset {
    &::before {
      background-color: $color-marmoset;
    }
  }

  &-unreal {
    &::before {
      background-color: $color-unreal;
    }
  }

  &-zbrush {
    &::before {
      background-color: $color-zbrush;
    }
  }

  &-unity {
    &::before {
      background-color: $color-unity;
    }
  }

  &-maya {
    &::before {
      background-color: $color-maya;
    }
  }

  &__title {
    margin-bottom: 10px;

    &-popular {
      margin-bottom: 2px;
      line-height: 1;
    }
  }

  &__date {
    font-size: 14px;
  }

  &__link {
    @include font(24px, $color-text-light);

    text-decoration: none;

    &-popular {
      @include font(16px, false, 500);
    }
  }

  &__text {
    font-weight: 300;
  }

  &__bottom {
    @include flex;
  }

  &-popular {
    position: relative;
    padding: 16px;

    &::before {
      top: auto;
      right: 16px;
      bottom: 16px;
      width: 28px;
      height: 28px;
      background-image: url("#{$path}icons/three-pixel.svg");
      border-radius: 0;
    }
  }

  &-banner {
    margin-bottom: 10px;

    &__img {
      width: 100%;
      height: auto;
    }
  }

  &__category {
    @include font(14px, false, 700);

    margin-bottom: 6px;

    &-marmoset {
      color: $color-marmoset;
    }

    &-unreal {
      color: $color-unreal;
    }

    &-zbrush {
      color: $color-zbrush;
    }

    &-unity {
      color: $color-unity;
    }

    &-maya {
      color: $color-maya;
    }

    &-content-top {
      font-size: 20px;
    }
  }

  &-alphabet {
    @include flex(flex-start, flex-start);

    padding-left: 28px;
  }

  &__letter {
    @include font(65px, $color-primary-400, 900);

    margin-right: 28px;
    line-height: 1;
  }
}

.banners {
  &__title {
    padding-left: 15px;
    margin-bottom: 5px;
    font-size: 17px;
  }
}
