/* // BUTTONS // */
.button {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  max-width: 100%;
  padding: 14.5px 75px 14.5px 58px;
  font-size: $base_button_size;
  font-style: normal;
  font-weight: bold;
  font-feature-settings: "liga" off;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  background-repeat: no-repeat;
  background-position: 28px center;

  @mixin control-after {
    position: absolute;
    width: 61px;
    height: 100%;
    content: "";
  }

  &-dark {
    color: $white;
    background-color: #202833;
    border: 1px solid #26303d;
  }

  &-green {
    color: $white;
    background-color: $green;

    &:hover {
      background-color: $green-hover;
    }
  }

  &-articles {
    background-image: url(#{$path}buttons/b-list.svg);
  }

  &-g-all {
    justify-content: center;
    padding: 14.5px;
    text-align: center;

    @mixin gradient-left-right {
      @include control-after;

      background-image: url(#{$path}buttons/gradient-left-green.svg);
    }

    &::after {
      @include gradient-left-right;

      left: 0;
    }

    &::before {
      @include gradient-left-right;

      right: 0;
      transform: rotate(180deg);
    }
  }

  &.button-project {
    background-image: url(#{$path}buttons/b-project.svg);

    &:hover {
      background-color: #202833;
    }
  }

  &-alphabet {
    background-image: url(#{$path}buttons/b-alphabet.svg);
  }

  &.gradient-right {
    &::after {
      @include control-after;

      right: 0;
      background-image: url(#{$path}buttons/gradient-right.svg);

      &:hover {
        visibility: hidden;
      }
    }
  }

  &-default {
    color: $white;
    background: $default;

    &-center {
      justify-content: center;
      padding: 14.5px;
      text-align: center;
    }

    &:hover {
      background: #0377b4;
    }
  }

  &-small {
    padding: 6.5px 18px;
    font-size: $base_button_size;
    font-weight: 700;
    line-height: 18.75px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-radius: 5px;
  }

  &-fill {
    color: #7d92b0;
    border: 1px solid $default;
    border-radius: 5px;

    &.white-text {
      color: #fff;
    }

    &:hover {
      color: $white;
      background-color: $default;
    }
  }
}

/* // BUTTONS // */

.btn {
  font-weight: 700;
  color: $white;
  cursor: pointer;
  background-color: $default;
  border: none;

  &-course {
    position: relative;
    z-index: 1;
    width: 288px;
    height: 48px;
    font-size: 18px;
    text-transform: uppercase;
    background: #1c79d2;
    border-radius: 5px;

    &::before {
      @include pseudo-element;
      @include —Åentering-xy;

      z-index: -1;
      width: 1px;
      height: 1px;
      box-shadow: 0 0 100px 100px #0192e142;
    }
  }
}
