/* // BUTTONS // */
.button {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  max-width: 100%;
  padding: 14.5px 75px 14.5px 60px;
  font-size: $base_button_size;
  font-style: normal;
  font-weight: bold;
  font-feature-settings: "liga" off;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  background-repeat: no-repeat;
  background-position: 28px center;

  @mixin control-after {
    position: absolute;
    width: 61px;
    height: 100%;
    content: "";
  }

  &-dark {
    color: $color-text-light;
    background-color: $color-secondary-850;
    border: 1px solid $color-secondary-820;
  }

  &-green {
    color: $color-text-light;
    background-color: $green;

    &:hover {
      background-color: $green-hover;
    }
  }

  &-articles {
    background-image: url(#{$path}buttons/b-list.svg);
  }

  &-g-all {
    justify-content: center;
    padding: 14.5px;
    text-align: center;

    @mixin gradient-left-right {
      @include control-after;

      background-image: url(#{$path}buttons/gradient-left-green.svg);
    }

    &::after {
      @include gradient-left-right;

      left: 0;
    }

    &::before {
      @include gradient-left-right;

      right: 0;
      transform: rotate(180deg);
    }
  }

  &.button-project {
    background-image: url(#{$path}buttons/b-project.svg);

    &:hover {
      background-color: $color-secondary-850;
    }
  }

  &-alphabet {
    background-image: url(#{$path}buttons/b-alphabet.svg);
  }

  &.gradient-right {
    &::after {
      @include control-after;

      right: 0;
      background-image: url(#{$path}buttons/gradient-right.svg);

      &:hover {
        visibility: hidden;
      }
    }
  }

  &-default {
    color: $color-text-light;
    background: $color-primary-400;
    outline: none;
    transition: all 0.3s;

    &-center {
      justify-content: center;
      padding: 14.5px;
      text-align: center;
    }

    &:focus,
    &:hover {
      background: $color-primary-500;
    }
  }

  &-small {
    padding: 6.5px 18px;
    font-size: $base_button_size;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: 0.04em;
    border-radius: 5px;
  }

  &-menu-mobile {
    width: 100%;
    margin-bottom: 24px;
    transition: all 0.3s;
  }

  &-fill {
    color: $color-secondary-400;
    border: 1px solid $color-primary-400;
    border-radius: 5px;

    &.white-text {
      color: $color-text-light;
    }

    &:hover {
      color: $color-text-light;
      background-color: $color-primary-400;
    }
  }

  &-tr {
    @include font(16px, false, 700);

    padding: 7px 16px;
    background: transparent;
    border-radius: 5px;
    transition: all 0.3s;

    &:hover,
    &:focus {
      color: $color-secondary-900;
    }

    &-blue {
      color: $color-text-light;
      border: 1px solid $color-primary-400;

      &:hover,
      &:focus {
        color: $color-text-light;
        background-color: $color-primary-400;
      }
    }
  }

  &__articles {
    &-marmoset {
      color: $color-secondary-900;
      background-color: $color-marmoset;
      border: 1px solid transparent;

      &:hover,
      &:focus {
        color: $color-marmoset;
        background-color: transparent;
        border: 1px solid $color-marmoset;
      }
    }

    &-unreal {
      color: $color-secondary-900;
      background-color: $color-unreal;
    }

    &-zbrush {
      color: $color-secondary-900;
      background-color: $color-zbrush;
    }

    &-unity {
      color: $color-unity;
      border: 1px solid $color-unity;
    }

    &-maya {
      color: $color-maya;
      border: 1px solid $color-maya;
    }
  }
}

/* // BUTTONS // */

.btn {
  font-weight: 700;
  color: $color-text-light;
  background-color: $color-primary-400;

  &-course {
    position: relative;
    z-index: 1;
    width: 288px;
    height: 48px;
    font-size: 18px;
    text-transform: uppercase;
    background: #1c79d2;
    border-radius: 5px;
    box-shadow: 0 0 160px $color-primary-800;

    &-mobile {
      display: none;
    }

    &::before {
      @include pseudo-element;
      @include сentering-xy;

      z-index: -1;
      width: 1px;
      height: 1px;
      box-shadow: 0 0 100px 100px #0192e142;
    }
  }

  &-scroll-up {
    position: fixed;
    right: 30px;
    bottom: 25px;

    svg path {
      transition: all 0.3s;
    }

    &:hover svg path,
    &:focus svg path {
      fill: $color-secondary-400;
    }
  }

  &-icon {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;

    svg {
      width: 40px;
      height: 40px;
    }

    &__profile-edit {
      width: 28px;
      height: 28px;
      line-height: 28px;
      background: transparent;
      border: 1px solid $color-secondary-820;
      border-radius: 50px;
    }
  }

  &-text {
    padding: 0;
    color: $color-text-light;
    background: transparent;
    border: none;
  }

  &-circle {
    position: relative;
    width: 28px;
    height: 28px;
    padding: 0;
    background-color: $black;
    border: 1px solid $color-secondary-820;
    border-radius: 50px;

    &-blue {
      background-color: $color-primary-400;
      border: none;
    }

    svg {
      @include сentering-xy;
    }
  }
}
