.projects {
  padding: 40px 0 170px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .stage {
    background-color: #2ea1e5;
    font-size: 12px;
    line-height: 0;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 5px;
  }
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 448px;
  height: 270px;
  padding: 14px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #26303d;
  border-radius: 10px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000000a3;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover,
  &:focus-within {
    &::before {
      opacity: 1;
    }

    .share {
      display: block;
    }

    .project__info {
      height: 25px;
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-size: 0;
    outline: none;
  }

  &__top {
    z-index: 3;
    display: flex;
    justify-content: space-between;
  }

  &-user-name {
    max-width: 110px;
    line-height: 1;
  }

  &__bottom {
    z-index: 1;
  }

  &__title {
    display: -webkit-box;
    max-width: 240px;
    letter-spacing: 1.3px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .reviews__user-project {
    padding: 0;
  }

  &__info {
    @include flex(flex-start);

    height: 0;
    opacity: 0;
    transition: all 0.3s;

    &-item {
      @include font(12px, #e0edff);

      padding-left: 20px;
      margin-right: 7px;
      background-repeat: no-repeat;
      background-position: left;

      &-wiews {
        background-image: url("#{$path}socials/wiews.svg");
      }

      &-likes {
        background-image: url("#{$path}socials/likes.svg");
      }

      &-comments {
        background-image: url("#{$path}socials/comments.svg");
      }
    }
  }
}
