.projects {
  padding: 40px 0 170px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &-sidebar {
      display: block;
    }
  }

  .stage {
    background-color: $color-primary-300;
    font-size: 12px;
    line-height: 0;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 5px;
  }

  &__list-slider {
    .slider__counter {
      position: absolute;
      top: 0;
      right: 82px;
    }

    .btn-slider {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      background: transparent;
      background-image: url("#{$path}buttons/button-scroll-up.svg");
      transition: all 0.3s;
      transform: translateY(-50%);

      &:hover,
      &:focus {
        background-image: url("#{$path}buttons/button-scroll-up-light.svg");
      }

      &-prev {
        left: 0;
        transform: rotate(-90deg);
      }

      &-next {
        right: 0;
        transform: rotate(90deg);
      }
    }
  }

  &-slider {
    margin: 95px 0 32px;

    &__top {
      padding-left: 5px;
      margin-bottom: 5px;
    }

    &__name {
      margin-right: 10px;
    }
  }
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 448px;
  height: 270px;
  padding: 14px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $color-secondary-820;
  border-radius: 10px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000000a3;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover,
  &:focus-within {
    &::before {
      opacity: 1;
    }

    .share {
      display: block;
    }

    .project__info-show {
      height: 25px;
      opacity: 1;
    }
  }

  &-sidebar {
    width: 100%;
    max-width: initial !important;
    height: 200px;
    margin-bottom: 20px;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-size: 0;
    outline: none;
  }

  &__top {
    z-index: 3;
    display: flex;
    justify-content: space-between;
  }

  &-user-name {
    max-width: 110px;
    line-height: 1;
  }

  &__bottom {
    z-index: 1;
  }

  &__title {
    display: -webkit-box;
    max-width: 240px;
    letter-spacing: 1.3px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .reviews__user-project {
    padding: 0;
  }

  &__info {
    @include flex(flex-start);

    &-show {
      height: 0;
      opacity: 0;
      transition: all 0.3s;
    }

    &-item {
      @include font(12px, $color-primary-150);

      padding-left: 20px;
      margin-right: 7px;
      line-height: 19px;
      background-repeat: no-repeat;
      background-position: left;

      &-date {
        background-image: url("#{$path}socials/clock.svg");

        &-slider {
          @include font(14px, $color-secondary-600);

          background-image: url("#{$path}socials/clock-violet.svg");
        }
      }

      &-wiews {
        background-image: url("#{$path}socials/wiews.svg");
      }

      &-likes {
        background-image: url("#{$path}socials/likes.svg");
      }

      &-comments {
        background-image: url("#{$path}socials/comments.svg");
      }

      &-dark {
        color: $color-secondary-400;

        &-wiews {
          background-image: url("#{$path}socials/wiews-dark.svg");
        }

        &-likes {
          background-image: url("#{$path}socials/likes-dark.svg");
        }

        &-comments {
          background-image: url("#{$path}socials/comments-dark.svg");
        }
      }
    }
  }

  &__category {
    padding: 2px 16px;
    font-size: 14px;
    color: $color-secondary-400;
    background-color: $color-secondary-970;
    border: 1px solid $color-secondary-820;
    border-radius: 5px;

    &-slider {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 1;
    }
  }

  &-item {
    &__slider {
      position: relative;

      &-img {
        width: 100%;
        height: auto;
        padding: 0 5px;
        filter: drop-shadow(4px 0 4px #00000040);
      }

      .image-expand {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        background-image: url("#{$path}icons/expand.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &-add {
    width: 100%;
    max-width: 378px;
    height: 234px;
    padding: 60px 0;
    margin-right: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #010203;
    border-radius: 10px;

    &:hover,
    &:focus {
      svg {
        fill: $color-secondary-400;
      }
    }

    &__text {
      color: $color-secondary-400;
    }

    svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 14px;
      fill: #384557;
      transition: all 0.3s;
    }

    &__box {
      display: flex;
    }
  }

  &-edit {
    line-height: 26px;
    background-color: $color-secondary-970;
  }
}

.student {
  @include flex;

  width: 100%;
  max-width: 716px;
  margin: 0 auto;

  &__arrow {
    font-size: 14px;
  }

  &__name {
    font-size: 17px;
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;

    &::before {
      @include pseudo-element;
      @include —Åentering-y;

      width: 0;
      height: 0;
      border-style: solid;
    }

    &-prev {
      padding-left: 32px;

      &::before {
        left: 0;
        border-color: transparent $white transparent transparent;
        border-width: 8.5px 9px 8.5px 0;
      }
    }

    &-next {
      padding-right: 32px;

      &::before {
        right: 0;
        border-color: transparent transparent transparent $white;
        border-width: 8.5px 0 8.5px 9px;
      }
    }
  }

  &__name {
    display: block;
    color: $color-text-light;
  }
}
