.form {
  &-control {
    display: block;
    padding: 8px 39px;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    color: $white;
    background: #13171a;
    background-image: url(#{$path}forms/form-darck.svg);
    background-repeat: no-repeat;
    background-position: left center;
    border: 1px solid #26303d;
    border-radius: 60px;

    &-search {
      background: url(#{$path}forms/form-darck.svg) no-repeat left center,
        url(#{$path}icons/search.svg) no-repeat 95% center #13171a;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__policy {
    @include font(13px, #7b8ea9, 300);

    &-sidebar {
      margin-bottom: 20px;
    }
  }
}

.check {
  &__container {
    display: flex;
    padding-left: 30px;
    margin-top: 30px;

    &-dark {
      padding-left: 20px;
      margin-top: 10px;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__box {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -30px;
    cursor: pointer;
    background-color: #f3f4f4;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    transition: all 0.2s;

    &-dark {
      width: 12px;
      height: 12px;
      margin-left: -20px;
      background-color: #0099e9;
      border-radius: 2px;
    }
  }

  &__input:checked + &__box {
    background-image: url("/images/icons/form-ckeck.svg");
  }

  &__input-dark:checked + &__box {
    background-image: url("#{$path}icons/check-box.svg");
  }
}
