.icon {

  @include  сentering-xy;

  &-initials {
    @include font(14px, $white, 700);
  }

  &-plus {
    background-color: $default;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #04476b;
  }

  &-pointer {
    cursor: pointer;
  }
}


.user {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  &__default {
    background: #010203;
  }
}
