%circle {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.icon {
  @include сentering-xy;

  &-initials {
    @include font(14px, $color-light, 700);

    &-big {
      font-size: 74px;
    }
  }

  &-achive {
    top: 30px;
    left: 20px;
  }

  &-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 32px;
    color: #04476b;
    background-color: $color-primary-400;
    border-radius: 50%;
  }

  &-pointer {
    cursor: pointer;
  }

  &-reviews {
    font-size: 20px;
  }
}

.user {
  @extend %circle;

  &__default {
    background: $color-secondary-970;

    &-big {
      width: 176px;
      height: 176px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  &-reviews {
    width: 40px;
    height: 40px;
  }
}

.mobile-search {
  @extend %circle;

  background: $color-secondary-970;
  border: 1px solid $color-secondary-800;

  & svg {
    position: relative;

    @include сentering-xy;
  }
}
