@media (max-width: 2000px) {
  .course {
    background-position-x: 97%;
    background-position-y: -10%;
    background-size: 44%;

    &::before {
      width: 50%;
      height: 75%;
    }

    &__inner {
      padding: 38px 0 70px;
    }

    &__text {
      max-width: 700px;
      margin-bottom: 42px;
    }

    &__detail {
      max-width: 1505px;
      padding-top: 0;

      &-list {
        padding: 30px 127px 30px 100px;
      }
    }
  }

  .mission {
    padding-top: 105px;

    &__title {
      margin-bottom: 140px;
    }

    &__left {
      max-width: 947px;
    }

    &__bottom-item {
      max-width: 400px;
    }
  }

  .who-course {
    padding: 320px 0 245px;

    &-title {
      width: 50%;
      max-width: 100%;
      padding: 0;
    }

    &__item {
      min-width: 805px;
      margin-bottom: 70px;
      margin-bottom: 68px;
    }
  }

  .advantages {
    padding-top: 280px;

    &__list {
      grid-template-columns: 388px 394px 517px;
    }
  }

  .feedback {
    padding: 165px 0 200px;
  }

  .program {
    padding: 178px 0 263px;

    &::before {
      display: none;
    }

    &__title {
      margin-bottom: 115px;
    }

    &-top-text {
      margin-bottom: 60px;
    }

    &__left {
      max-width: 868px;
      margin-right: 78px;
    }
  }

  .accordion {
    &__content-inner {
      max-width: 613px;
    }
  }

  .reviews {
    padding: 83px 0 250px;
  }

  .course-author {
    padding: 305px 0 290px;

    &__inner {
      position: relative;
      padding-bottom: 545px;
    }

    &__content {
      width: 100%;

      &-inner {
        flex-direction: column;
        padding-left: 50px;

        &::before {
          display: none;
        }
      }
    }

    .author__photo {
      max-width: initial;

      & img {
        width: 525px;
        height: 790px;
      }
    }

    &__left {
      @include flex(flex-start, flex-start);

      max-width: 100%;

      .col-left {
        max-width: 520px;
        margin-right: 54px;
      }

      .col-right {
        max-width: 500px;
      }
    }

    &__right {
      margin-bottom: 50px;
    }

    &__text-light {
      margin-bottom: 15px;
      margin-left: 0;
    }

    .feedback {
      &__inner {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &__title {
        max-width: 100%;
        margin-bottom: 90px;
      }
    }
  }

  .footer {
    &-container {
      padding: 0 84px;
    }

    &__inner {
      align-items: flex-start;
    }

    &__logo {
      margin-right: 250px;

      &-img {
        width: 386px;
      }
    }
  }
}

@media (max-width: 1870px) {
  .header {
    &__search-form {
      order: 1;
      width: auto;
      max-width: initial;
    }

    &__item-user {
      order: 1;
    }
  }

  .form-search-header {
    display: none;
  }

  .mobile-search {
    display: block;
  }
}

@media (max-width: 1380px) {
  .header {
    padding: 10px 26px 10px 24px;

    .logo__img {
      width: 100px;
    }

    .menu {
      background-color: #26303d;
      
      &__list {
        flex-direction: column;
      }
    }

    &__item {
      margin-right: 44px;
      margin-left: 0;
    }

    &__search-form {
      margin-right: 18px;
    }

    &__item-button {
      display: none;
    }

    & .user,
    & .mobile-search {
      width: 36px;
      height: 36px;
      background-color: #414f62;
    }

    .form-search-header {
      position: absolute;
      top: 56px;
      right: 0;
      left: 0;
      z-index: 2;

      .header__form-control {
        border-radius: 0;
      }
    }
  }
}
