html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font(18px, $white, 400, 1.5);

  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #010203;
}

::-webkit-scrollbar-thumb {
  background-color: #384557;
  border: 1px solid #010203;
  border-radius: 10px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.link {
  color: $white;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

.link:hover,
.link:focus {
  color: $hover-link;
}

input {
  outline: none;
}

.input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #798faa;
  border-radius: 5px;

  &-dark {
    margin-bottom: 3px;
    color: $white;
    background-color: #13171a;
    border: none;

    &::placeholder {
      @include font(10px, #889dba);
    }
  }

  &__text {
    &-dark {
      @include font(12px, #7d92b0, 700);
    }
  }
}

ul {
  @include normilize-pm;
}

li {
  list-style: none;
}

.title {
  @include font(48px, false, 700, 1.2);

  text-transform: uppercase;

  &-blue {
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0 0 60px #005de9;
    letter-spacing: 1.5px;
    background: $color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-text {
    @include font(26px, false, 700);
  }
}

.subtext {
  display: block;
}

%text {
  margin: 0 0 13px;
}

.text {
  letter-spacing: 1px;

  &-light {
    @extend %text;

    font-weight: 300;
  }

  &-big {
    @extend %text;

    font-size: 24px;
  }

  &-dash {
    position: relative;
    padding-bottom: 54px;
    margin: 0;

    &::after {
      @include pseudo-element;

      bottom: 24px;
      width: 183px;
      height: 5px;
      background-color: $default;
    }
  }
}

.user-name {
  @include font(16px, $white, 700);

  text-decoration: none;
}

.fade {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #1818183f;
}

.content {
  background-color: #171b1f;

  &-scroll {
    height: 1180px;
    margin-right: -25px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      margin-top: 100px;
      margin-bottom: 20px;
      background-color: #010203;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #384557;
      border-radius: 5px;
    }
  }

  &-scroll-projects {
    margin-right: -20px;

    &::-webkit-scrollbar-track {
      margin-top: 40px;
      margin-bottom: 170px;
    }
  }

  &-top {
    padding: 30px 0;

    &__title {
      @include font(35px, false, 700, 1.2);

      margin-bottom: 7px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    &__text {
      @include font(24px, false, 500);

      max-width: 1068px;
      line-height: 1.2;
    }
  }
}
