html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font(18px, $color-light, 400, 1.5);

  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

::-moz-selection {
  color: $white;
  background-color: $color-primary-400;
}

::selection {
  color: $white;
  background-color: $color-primary-400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $color-secondary-970;
}

::-webkit-scrollbar-thumb {
  background-color: $color-secondary-700;
  border: 1px solid $color-secondary-970;
  border-radius: 10px;
}

.scroll {
  &-blue {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: $color-secondary-970;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-primary-400;
      border: none;
    }
  }

  &-violet {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: $color-secondary-970;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-secondary-400;
      border: none;
    }

    &-articles {
      &::-webkit-scrollbar-track {
        margin: 24px 0;
      }
    }

    &-banners {
      &::-webkit-scrollbar-track {
        margin: 50px 0 24px;
      }
    }
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

p {
  margin-top: 0;
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.text-blue {
  color: $color-primary-400;
}

.text-dark {
  color: $color-secondary-400;
}

.link {
  color: $color-text-light;
  text-decoration: none;
  outline: none;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: $color-primary-500;
  }

  &-blue {
    color: $color-primary-400;
  }
}

input {
  outline: none;
}

.input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #798faa;
  border-radius: 5px;

  &-dark {
    margin-bottom: 3px;
    color: $color-text-light;
    background-color: $color-secondary-940;
    border: none;

    &::placeholder {
      @include font(10px, $color-secondary-300);
    }
  }

  &__text {
    &-dark {
      @include font(12px, $color-secondary-400, 700);
    }
  }
}

ul {
  @include normilize-pm;
}

li {
  list-style: none;
}

.title {
  @include font(48px, false, 700, 1.2);

  text-transform: uppercase;

  &-blue {
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0 0 60px $color-primary-800;
    letter-spacing: 1.5px;
    background: $color-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-text {
    @include font(26px, false, 700);
  }
}

.subtext {
  display: block;
}

%text {
  margin: 0 0 13px;
}

.text {
  letter-spacing: 1px;

  &-light {
    @extend %text;

    font-weight: 300;
  }

  &-big {
    @extend %text;

    font-size: 24px;
  }

  &-dash {
    position: relative;
    padding-bottom: 54px;
    margin: 0;

    &::after {
      @include pseudo-element;

      bottom: 24px;
      width: 183px;
      height: 5px;
      background-color: $color-primary-400;
    }
  }
}

.user-name {
  @include font(16px, $color-light, 700);

  text-decoration: none;
}

.fade {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #181818f2;

  &.active {
    display: block;
  }
}

.content {
  background-color: $color-secondary-900;

  &-right {
    display: flex;

    .content__left-col {
      width: 100%;
      max-width: 384px;
    }

    .content__center-col {
      width: 100%;

      &-project {
        height: calc(100vh - 56px);
        background-image: url("#{$path}projects/project-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  &-scroll {
    height: 1180px;
    margin-right: -25px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      margin-top: 100px;
      margin-bottom: 20px;
      background-color: $color-secondary-970;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-secondary-700;
      border-radius: 5px;
    }
  }

  &-scroll-projects {
    margin-right: -20px;

    &::-webkit-scrollbar-track {
      margin-top: 40px;
      margin-bottom: 170px;
    }
  }

  &-search {
    background-color: $color-secondary-900;

    &__center {
      position: relative;
      width: 100%;
      max-width: 1768px;
      height: calc(100vh - 56px);
      margin: 0 auto;
      border-right: 1px solid $color-secondary-820;
      border-left: 1px solid $color-secondary-820;
    }
  }

  &-top {
    padding: 30px 0;

    &__title {
      @include font(35px, false, 700, 1.2);

      margin-bottom: 7px;
      text-transform: uppercase;
      letter-spacing: 2px;

      &-article {
        font-size: 29px;
        text-transform: initial;
      }
    }

    &__text {
      @include font(24px, false, 500);

      max-width: 1068px;
      line-height: 1.2;
    }

    &-article {
      padding: 24px 0 16px;
    }
  }
}

.container {
  padding: 0 128px;

  &-projects {
    padding: 0 112px 0 64px;

    &-slider {
      position: relative;
      width: 100%;
      max-width: 1428px;
      padding: 0 72px;
      margin: 0 auto;

      .slick-slider {
        position: static;
      }

      &-3d {
        padding: 0;
      }
    }
  }

  &-articles {
    padding: 0 72px 0 64px;
  }
}

form {
  margin: 0;
}

// .text {
//   &-line {
//     &-standart {
//       font-size: 18px;
//       font-weight: bold;
//       line-height: 21px;
//     }
//   }
// }

.panel {
  &-bar {
    color: $color-text-light;
    background: $color-secondary-850;

    &.shadow {
      position: relative;
      z-index: 1;
      box-shadow: 0 24px 16px 4px $color-secondary-900;
    }

    &-default {
      padding: 10px 26px;
    }

    &-border {
      border: 1px solid $color-secondary-820;
    }

    &-elements {
      display: flex;
      margin-left: 64px;

      .bar-element {
        @at-root .add-shrink#{&} {
          flex-grow: 1;
        }

        position: relative;
        padding: 14px 57px 11px;
        font-weight: bold;
        text-align: center;
        transition: all 0.3s;

        &::before {
          position: absolute;
          top: 0;
          left: calc(50% - 10px);
          width: 0;
          height: 0;
          content: "";
          border-color: $color-light transparent transparent transparent;
          border-style: solid;
          border-width: 10px;
          opacity: 0;
          transition: all 0.3s;
        }

        &:hover,
        &.active {
          cursor: pointer;
          background-color: $color-primary-400;

          &-title {
            color: $color-secondary-700;
          }

          &::before {
            opacity: 1;
          }
        }

        &-title {
          margin-bottom: 4px;
          font-size: 18px;
          line-height: 21px;
        }

        &-subtitle {
          font-size: 14px;
          line-height: 16px;
          color: $color-secondary-700;
        }
      }
    }

    &-container-projects {
      @include flex(flex-start);

      gap: 16px;
      width: 100%;
      max-width: 1416px;
      margin: 0 auto 35px;

      .panel-bar {
        &-elements {
          justify-content: center;
          margin-left: 0;
        }

        .bar-element {
          pointer-events: none;
        }

        &-left {
          width: 100%;
        }
      }

      .bar-element {
        padding: 14px 25px 11px;
      }
    }

    &-like {
      display: flex;
      gap: 24px;
      align-items: center;
      width: 100%;
      max-width: fit-content;
      padding: 10px 16px;
    }

    &-alphabet {
      margin-bottom: 40px;

      .panel-sort {
        margin-left: 0;

        &-text-mobile {
          display: none;
        }

        a {
          padding: 0 4px;
        }
      }
    }
  }

  &-sort {
    background-image: url(#{$path}panels/panel-gradient.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 10px;

    &-left {
      position: relative;
      width: 78.59px;
      padding: 15.68px 0 32.06px;
      font-size: 42px;
      font-weight: bolder;
      line-height: 32px;
      text-align: center;
      background-color: $color-primary-400;
      border-radius: 10px 0 0 10px;

      @at-root %for-icon-bottom:after,
        %for-icon-bottom:before {
        position: absolute;
        right: 0;
        bottom: 7.13px;
        height: 13.97px;
        content: "";
      }

      @extend %for-icon-bottom;

      &::after {
        width: 7px;
        background-color: $color-secondary-850;
        border-radius: 10px 0 0 10px;
      }

      &::before {
        width: 71.68px;
        background-color: $color-light;
        border-radius: 10px 0 0 10px;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-self: center;
      padding: 10px 0;

      ul {
        @include normilize-pm;

        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 900;
        list-style: none;

        li {
          margin: 0 4px;
        }
      }
    }

    a {
      color: $color-primary-500;
      text-decoration: none;

      &:hover,
      &.active {
        color: $color-primary-400;
      }
    }
  }
}

.iframe {
  &-projects {
    border: 0;
  }
}

.adaptive-img {
  width: 100%;
  height: auto;
}

.search__top {
  @include font(29px, $color-secondary-600);

  padding: 40px 0 10px 64px;
  border-bottom: 1px solid $color-secondary-820;
}

.search__text {
  @include —Åentering-xy;

  max-width: 460px;
  font-size: 24px;
  color: $color-secondary-600;
  text-align: center;
}

.search__logo {
  margin-bottom: 30px;
}

.search__list {
  padding: 64px 0 0 64px;
  margin-right: 64px;
}

.mt-6 {
  margin-top: 60px;
}

// .scrolling-wrapper {
//   overflow-x: scroll;
//   overflow-y: hidden;
//   white-space: nowrap;

//   .scrolling-item {
//     display: inline-block;
//   }

//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .scrolling-item-flexbox {
    flex: 0 0 auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
