html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font(18px, $white, 400, 1.5);

  padding: 0;
  margin: 0;
}

ul {
  @include normilize-pm;
}

li {
  list-style: none;
}

.title {
  @include font(48px, false, 700, 1.2);

  text-transform: uppercase;

  &-blue {
    font-size: 48px;
    font-weight: 700;
    background: $color-gradient;
    -webkit-text-fill-color: transparent;
  }
}

.subtext {
  display: block;
}

%text {
  margin: 0 0 13px;

  &-light {
    @extend %text;

    font-weight: 300;
  }

  &-big {
    @extend %text;

    font-size: 24px;
  }

  &-dash {
    position: relative;
    padding-bottom: 54px;
    margin: 0;

    &::after {
      @include pseudo-element;

      bottom: 24px;
      width: 183px;
      height: 5px;
      background-color: $default;
    }
  }
}
