.container {
  padding: 0 128px;
}

.course {
  position: relative;
  padding-bottom: 63px;
  background-color: $bg-main;
  background-image: url("/images/home/course-bg.png");
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 10%;

  &::before {
    @include pseudo-element;

    top: 0;
    right: 0;
    width: 58%;
    height: 100%;
    background-image: url("/images/home/course-dots-bg.png");
  }

  &__inner {
    padding: 180px 0 68px;
  }

  &__left {
    max-width: 908px;
    padding-left: 128px;
  }

  &__title {
    margin-bottom: 23px;
  }

  &__icons {
    @include flex(flex-start);

    margin-bottom: 17px;
  }

  &__icon {
    margin-right: 48px;
  }

  &__text {
    max-width: 770px;
    margin-bottom: 65px;
    letter-spacing: 1px;
  }

  &__detail {
    max-width: 1640px;
    padding-top: 152px;

    &-list {
      position: relative;
      @include flex;

      padding: 30px 193px 30px 128px;
      letter-spacing: 1px;
      background-color: $dark;
      border: 1px solid $border-dark;
      border-radius: 0 10px 10px 0;
    }

    &-item {
      position: relative;
      padding-left: 44px;
      font-size: 24px;

      &::before {
        @include pseudo-element;

        top: 5px;
        left: 0;
        width: 28px;
        height: 28px;
        background-image: url("/images/icons/check.svg");
      }
    }
  }
}

.mission {
  padding-top: 220px;
  background-color: $bg-main;

  &__inner {
    display: flex;
  }

  &__title {
    margin-bottom: 156px;
    letter-spacing: 2px;
  }

  &__left {
    margin-right: 56px;

    &-item {
      padding: 40px;
      background: $color-gradient;
      border-radius: 16px;
    }
  }

  &__bottom {
    @include flex(space-between, flex-start);
  }

  &__bottom-item {
    max-width: 493px;
    letter-spacing: 1px;
  }

  &-text-big {
    margin-bottom: 40px;
    font-size: 26px;
  }
}

.who-course {
  padding: 235px 0 305px;
  background-color: $bg-main;

  &__list {
    @include flex(space-between, false);

    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    max-width: 730px;
    padding-left: 145px;

    &::before {
      @include pseudo-element;

      top: 0;
      left: 0;
      width: 105px;
      height: 122px;
      filter: drop-shadow(0 0 60px #005DE9);
      background-repeat: no-repeat;
      background-position: center;
    }

    &-newbie::before {
      background-image: url("/images/home/who-course/who-course-1.svg");
    }

    &-2d-painters::before {
      background-image: url("/images/home/who-course/who-course-2.svg");
    }

    &-experienced-3d::before {
      background-image: url("/images/home/who-course/who-course-3.svg");
    }

    &-title {
      @include font(26px, false, 700);

    }
  }

  &-title {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 145px;
    letter-spacing: 1.5px;

  }
}

.advantages {
  background: radial-gradient(58.95% 96.31% at 50% 50%, #0A1623 0%, #121618 100%);
  background-color: #2f3c4a;
}