.container {
  padding: 0 128px;
}

.course {
  position: relative;
  padding-bottom: 63px;
  background-color: $bg-main;
  background-image: url("/images/home/course-bg.png");
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 10%;

  &::before {
    @include pseudo-element;

    top: 0;
    right: 0;
    width: 58%;
    height: 100%;
    background-image: url("/images/home/course-dots-bg.png");
  }

  &__inner {
    padding: 180px 0 68px;
  }

  &__left {
    max-width: 908px;
    padding-left: 128px;
  }

  &__title {
    margin-bottom: 23px;
  }

  &__icons {
    @include flex(flex-start);

    margin-bottom: 17px;
  }

  &__icon {
    margin-right: 48px;
  }

  &__text {
    max-width: 770px;
    margin-bottom: 65px;
    letter-spacing: 1px;
  }

  &__detail {
    max-width: 1640px;
    padding-top: 152px;

    &-list {
      position: relative;
      @include flex;

      padding: 30px 193px 30px 128px;
      letter-spacing: 1px;
      background-color: $dark;
      border: 1px solid $border-dark;
      border-radius: 0 10px 10px 0;
    }

    &-item {
      position: relative;
      padding-left: 44px;
      font-size: 24px;

      &::before {
        @include pseudo-element;

        top: 5px;
        left: 0;
        width: 28px;
        height: 28px;
        background-image: url("/images/icons/check.svg");
      }
    }
  }
}

.mission {
  padding-top: 220px;
  background-color: $bg-main;

  &__inner {
    display: flex;
  }

  &__title {
    margin-bottom: 156px;
    letter-spacing: 2px;
  }

  &__left {
    max-width: 1123px;
    margin-right: 56px;

    &-item {
      padding: 40px;
      background: $color-gradient;
      border-radius: 16px;
    }
  }

  &__video {
    width: 100%;
    height: auto;
  }

  &__bottom {
    @include flex(space-between, flex-start);
  }

  &__bottom-item {
    max-width: 493px;
    letter-spacing: 1px;
  }

  &-text-big {
    margin-bottom: 40px;
    font-size: 26px;
  }
}

.who-course {
  padding: 235px 0 305px;
  background-color: $bg-main;

  &__list {
    @include flex(space-between, false);

    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    max-width: 730px;
    padding-left: 145px;

    &::before {
      @include pseudo-element;

      top: 0;
      left: 0;
      width: 105px;
      height: 122px;
      filter: drop-shadow(0 0 60px #005de9);
      background-repeat: no-repeat;
      background-position: center;
    }

    &-newbie::before {
      background-image: url("/images/home/who-course/who-course-1.svg");
    }

    &-2d-painters::before {
      background-image: url("/images/home/who-course/who-course-2.svg");
    }

    &-experienced-3d::before {
      background-image: url("/images/home/who-course/who-course-3.svg");
    }

    &-title {
      @include font(26px, false, 700);
    }
  }

  &-title {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 145px;
  }
}

.advantages {
  padding: 276px 0 120px;
  background: radial-gradient(
    58.95% 96.31% at 50% 50%,
    #0a1623 0%,
    #121618 100%
  );
  background-color: #2f3c4a;

  &__title {
    margin-bottom: 148px;
  }

  &__list {
    display: grid;
    grid-template-rows: 120px 30px 120px;
    grid-template-columns: 600px 600px 740px;
    background-image: url("/images/home/advantages/border-dashed.svg");
    background-repeat: repeat-x;
    background-position: center;
  }

  &__item {
    @include font(26px, false, 700);

    position: relative;
    max-width: 500px;
    padding-left: 86px;
    line-height: 1.2;

    &::before {
      @include pseudo-element;

      top: 0;
      left: 0;
      width: 73px;
      height: 63px;
      background-position: center;
    }

    &::after {
      @include pseudo-element;
      
      left: 18px;
      width: 28px;
      height: 28px;
      background-image: url("/images/home/advantages/border-circle.svg");
      background-position: center;
    }

    &-top::after {
      top: 120px;
    }

    &-bottom::after {
      top: -86px;
    }

    &:nth-child(1) {
      grid-row: 1;
      grid-column: 1/2;

      &::before {
        width: 58px;
        background-image: url("/images/home/advantages/advantage-1.svg");
      }

      &::after {
        left: 0;
      }

    }

    &:nth-child(2) {
      grid-row: 3;
      grid-column: 2;
      margin-top: 56px;

      &::before {
        width: 63px;
        height: 63px;
        background-image: url("/images/home/advantages/advantage-2.svg");
      }
    }

    &:nth-child(3) {
      grid-row: 1;
      grid-column: 3;

      &::before {
        background-image: url("/images/home/advantages/advantage-3.svg");
      }
    }

    &:nth-child(4) {
      grid-row: 3;
      grid-column: 4;
      margin-top: 56px;

      &::before {
        background-image: url("/images/home/advantages/advantage-4.svg");
      }
    }
  }
}
