.container {
  padding: 0 128px;
}

.course {
  position: relative;
  padding-bottom: 63px;
  background-color: $bg-main;
  background-image: url("/images/home/course-bg.png");
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-position-y: 10%;

  &::before {
    @include pseudo-element;

    top: 0;
    right: 0;
    width: 58%;
    height: 100%;
    background-image: url("/images/home/course-dots-bg.png");
  }

  &__inner {
    padding: 180px 0 68px;
  }

  &__left {
    max-width: 908px;
    padding-left: 128px;
  }

  &__title {
    margin-bottom: 23px;
  }

  &__icons {
    @include flex(flex-start);

    margin-bottom: 17px;
  }

  &__icon {
    margin-right: 48px;
  }

  &__text {
    max-width: 770px;
    margin-bottom: 65px;
    letter-spacing: 1px;
  }

  &__detail {
    max-width: 1640px;
    padding-top: 152px;

    &-list {
      position: relative;
      @include flex;

      padding: 30px 193px 30px 128px;
      letter-spacing: 1px;
      background-color: $dark;
      border: 1px solid $border-dark;
      border-radius: 0 10px 10px 0;
    }

    &-item {
      position: relative;
      padding-left: 44px;
      font-size: 24px;

      &::before {
        @include pseudo-element;

        top: 5px;
        left: 0;
        width: 28px;
        height: 28px;
        background-image: url("/images/icons/check.svg");
      }
    }
  }
}

.mission {
  padding-top: 200px;
  background-color: $bg-main;

  &__inner {
    display: flex;
  }

  &__title {
    margin-bottom: 156px;
    letter-spacing: 2px;
  }

  &__left {
    margin-right: 56px;

    &-item {
      padding: 40px;
      background: $color-gradient;
      border-radius: 16px;
    }
  }

  &__bottom {
    @include flex(space-between, flex-start);
  }

  &__bottom-item {
    max-width: 493px;
    letter-spacing: 1px;
  }

  &-text-big {
    margin-bottom: 40px;
    font-size: 26px;
  }
}
