/* // HELPERS // */
.margin-b-10 {
  margin-bottom: 10px;
}

.paddings-10 {
  padding: 10px;
}

.helper-width-200 {
  width: 200px;
}

$radius-sizes: (
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
);

.border-radius {
  @each $status, $size in $radius-sizes {
    &-#{$status} {
      border-radius: $size;
    }
  }
}

.shadow {
  &-more {
    box-shadow: 0 24px 16px 4px $color-secondary-900;
  }
}

$justify-position: (
  space-between: space-between,
  center: center,
);

.justify {
  @each $key, $p in $justify-position {
    &-#{$key} {
      justify-content: $p;
    }
  }
}

/* // HELPERS // */
