@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

@mixin normilize-pm {
  padding: 0;
  margin: 0;
}

@mixin сentering-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin сentering-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin сentering-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin pseudo-element($content: "", $display: block, $pos: absolute) {
  position: $pos;
  display: $display;
  content: $content;
}

@mixin font($size: false, $color: false, $weight: false, $lh: false) {
  @if $size {
    font-size: $size;
  }

  @if $color {
    color: $color;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin flex($justify: space-between, $align: center) {
  display: flex;

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-items: $align;
  }
}
