@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

@mixin __normilize_pm {
  margin: 0;
  padding: 0;
}

@mixin сentering-xy() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin сentering-x() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin сentering-y() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin pseudo-element($content: "", $display: block, $pos: absolute) {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin font($size: false, $color: false, $weight: false, $lh: false) {
  font-family: "Open Sans", sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}

@mixin flex($justify: space-between, $align: center,) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
