// ==== PATH ==== //
$path: "../../images/";
// ==== END PATH ==== //

// ==== COLORS ==== //
$white: #fff;
$green: #09945c;
$green_hover: #007b51;
$default: #0099e9;
$color_link: #056ea6;
$dark: #202833;
$bg-main: #171b1f ;
// ==== END COLORS ==== //

// ==== SIZES ==== //
$base_button_size: 16px;
// ==== END SIZES ==== //
