// ==== PATH ==== //
$path: "../../images/";

// ==== END PATH ==== //

// ==== COLORS ==== //
$white: #fff;
$green: #09945c;
$green-hover: #007b51;
$default: #0099e9;
$color-link: #056ea6;
$dark: #202833;
$bg-main: #171b1f;
$border-dark: #2f3c4a;
$color-gradient: #1c79d2;

// ==== END COLORS ==== //

// ==== SIZES ==== //
$base-button-size: 16px;

// ==== END SIZES ==== //
