.footer {
  padding: 70px 0 87px;
  background-color: $color-secondary-820;

  &-container {
    padding: 0 320px;
  }

  &__inner {
    @include flex(flex-start);
  }

  &__logo {
    width: 100%;
    max-width: 368px;
    margin-right: 300px;

    &-img {
      width: 100%;
      height: auto;
    }
  }

  &__menu {
    @include flex(flex-start, flex-start);

    &-list {
      &-item {
        max-width: 190px;
        margin-right: 220px;
        margin-bottom: 12px;
        line-height: 1.4;
      }

      &-link {
        @include font(false, $color-light, 500);

        text-decoration: none;
      }
    }
  }
}
