.header {
  position: relative;
  padding: 7px 26px 7px 24px;
  background-color: $dark;

  &__inner {
    @include flex;
  }

  &__item {
    margin-left: 32px;
  }

  &-logo {
    flex: 1;
  }

  &__search-form {
    width: 100%;
    max-width: 540px;
  }

  &__form-control {
    width: 100%;
  }

  .tss-label {
    display: none;
  }

}

.mobile-search {
  display: none;
}

.menu {
  &__btn {
    position: absolute;
    right: 0;
    width: 56px;
    height: 100%;
    background-color: #414f62;
    border: none;
  }

  &__list {
    @include flex;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    font-weight: 500;
    color: $white;
    text-decoration: none;
  }

}


