.menu {
  background: #202833;
  padding: 11px 24px 11px 24px;

  &-wrap {
    flex-grow: 1;
  }

  &-nav {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    a {
      color: $white;
      text-decoration: none;
    }

    ul {
      @include __normilize_pm();
      list-style: none;
      display: flex;

      li {
        margin: 0 20px;

        &:last-child {
          margin-right: 40px;
        }
      }
    }
  }
}
.user {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  &-default {
    background: #010203;
  }
}
