.header {
  padding: 11px 26px 11px 24px;
  background-color: $dark;

  &__inner {
    @include flex;
  }

  &__item {
    margin-left: 40px;
  }

  &-logo {
    flex: 1;
  }

  &__search-form {
    width: 100%;
    max-width: 540px;
  }

  &__form-control {
    width: 100%;
  }
}

.menu {
  &__list {
    @include flex;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    font-weight: 500;
    color: $white;
    text-decoration: none;
  }
}
