.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 384px;
  height: calc(100vh - 57px);
  padding: 18px 0 32px;
  background-color: $color-secondary-940;
  border-right: 1px solid $color-secondary-820;

  &__left {
    position: absolute;
    top: 56px;
    left: -100%;
    justify-content: flex-start;
    padding-top: 0;
    background: #0e1112;
    border-right: 1px solid $color-secondary-820;
    transition: all 0.3s;

    &-projects.active,
    &-comments.active,
    &-message.active {
      left: 0;
    }

    &-comments {
      padding-bottom: 0;
      background-image: url("#{$path}cgitems-bg.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &-message {
      padding-bottom: 0;
    }

    &-jc {
      justify-content: space-between;
    }
  }

  &__top {
    &-project {
      @include flex;

      padding: 3px 20px;
      margin-bottom: 10px;
      border-bottom: 1px solid $color-secondary-820;
    }
    &-message {
      flex: 1;
    }
  }

  &__wrapper {
    padding: 0 10px 0 23px;

    &-projects {
      height: calc(100vh - 10%);
      padding-right: 23px;
      margin-right: 7px;
      overflow: auto;
    }
  }

  &__user {
    margin-bottom: 30px;

    &-name {
      @include font(24px, false, 700);

      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__project {
    &-name {
      display: block;
      margin-bottom: 16px;
      text-transform: none;

      &::after {
        top: 0;
      }

      &-subtext {
        @include font(14px, false, 400);
      }
    }

    &-desc {
      height: 140px;
      padding: 0 15px 0 30px;
      margin-right: 8px;
      margin-bottom: 16px;
      overflow: auto;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 8px 24px;
    text-align: inherit;
    background: transparent;
    border-top: 1px solid $color-secondary-820;

    & path {
      transition: all 0.3s;
    }

    &:hover,
    &:focus {
      color: $color-secondary-400;

      .link__icon path {
        fill: $color-secondary-400;
      }
    }

    &:last-child {
      border-bottom: 1px solid $color-secondary-820;
    }

    &-back {
      padding-left: 0;
      cursor: pointer;
      border: none;
    }
  }

  .link__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: sub;
  }

  .other__projects-couter,
  .comments__counter {
    color: $color-secondary-400;
  }

  &__bottom {
    .social {
      padding: 0 24px;
    }

    &-comments {
      position: absolute;
      bottom: 0;
      padding: 6px 0;
      background: #0e1112;
      border-top: 1px solid $color-secondary-820;
    }

    &-text {
      @include font(13px, $color-secondary-500, 300);

      position: relative;
      max-width: 250px;
      padding-left: 60px;

      &::before {
        @include pseudo-element;

        top: 50%;
        left: 0;
        width: 45px;
        height: 30px;
        background-image: url("#{$path}cgitems-bg-violet.svg");
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateY(-50%);
      }
    }
    .input__text-dark {
      @include font(false, $color-secondary-500, 400);
    }

    .input-dark {
      background-color: #0e1112;
      border: 1px solid $color-secondary-820;
    }
  }

  &__form-box {
    padding: 0 30px;
  }

  &__textarea {
    width: 100%;
    height: calc(100% - 60px);
    padding: 10px;
    resize: none;
    background-color: #0e1112;
    outline: none;
  }
}

.profile-edit {
  margin-bottom: 10px;
  text-align: end;
}

.menu-mobile {
  display: block;

  &__list {
    padding: 0 24px;
    margin-bottom: 20px;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    color: $color-secondary-400;
    text-decoration: none;
    transition: 0.3s;

    &:hover,
    &:focus {
      color: $color-primary-150;
    }
  }
}

.achive-desc {
  position: absolute;
  top: 45px;
  left: 30px;
  z-index: 1;
  display: block;
  width: 450px;

  &-text {
    display: inline-block;
    display: none;
    padding: 0 7px;
    color: $color-primary-150;
    background-color: $color-secondary-970;
    border: 1px solid $color-primary-150;
    border-radius: 3px;
  }
}

.form__btn-box-sidebar {
  padding: 10px 30px;
  text-align: end;
  border-top: 1px solid $color-secondary-820;
}
