@import "./vendors/normalize";
@import "./vendors/slick";
@import "./vendors/fancybox.scss";

@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/helpers";

@import "./base/flex_greed";
@import "./base/style";
@import "./base/forms";
@import "./base/icons";

@import "./components/buttons";
@import "./components/accordion";
@import "./components/socials";
@import "./components/modals";


@import "./layout/header";
@import "./layout/footer";

@import "./pages/index";

@import "./base/media";

form {
  margin: 0;
}

.text {
  &-line {
    &-standart {
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
    }
  }
}

.panel {
  &-bar {
    color: $white;
    background: $dark;

    &-default {
      padding: 10px 26px;
    }

    &-border {
      border: 1px solid #26303d;
    }

    &-elements {
      display: flex;
      justify-content: center;

      .bar-element {
        @at-root .add-shrink#{&} {
          flex-grow: 1;
        }

        position: relative;
        padding: 14px 16px 11px;
        font-weight: bold;
        text-align: center;

        &:hover,
        &.active {
          cursor: pointer;
          background-color: $default;

          &-title {
            color: #384557;
          }

          &::before {
            position: absolute;
            top: 0;
            left: calc(50% - 10px);
            width: 0;
            height: 0;
            content: "";
            border-color: $white transparent transparent transparent;
            border-style: solid;
            border-width: 10px;
          }
        }

        &-title {
          font-size: 18px;
          line-height: 21px;
        }

        &-subtitle {
          font-size: 14px;
          line-height: 16px;
          color: #384557;
        }
      }
    }
  }

  &-sort {
    background-image: url(#{$path}panels/panel-gradient.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 10px;

    &-left {
      position: relative;
      width: 78.59px;
      padding: 15.68px 0 32.06px;
      font-size: 42px;
      font-weight: bolder;
      line-height: 32px;
      text-align: center;
      background-color: $default;
      border-radius: 10px 0 0 10px;

      @at-root %for-icon-bottom:after,
        %for-icon-bottom:before {
        position: absolute;
        right: 0;
        bottom: 7.13px;
        height: 13.97px;
        content: "";
      }

      @extend %for-icon-bottom;

      &::after {
        width: 7px;
        background-color: $dark;
        border-radius: 10px 0 0 10px;
      }

      &::before {
        width: 71.68px;
        background-color: $white;
        border-radius: 10px 0 0 10px;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-self: center;
      padding: 10px 0;

      ul {
        @include normilize-pm;

        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 900;
        list-style: none;

        li {
          margin: 0 4px;
        }
      }
    }

    a {
      color: $color-link;
      text-decoration: none;

      &:hover,
      &.active {
        color: $default;
      }
    }
  }
}
