@import "./vendors/normalize";
@import "./vendors/slick";
@import "./vendors/fancybox";

@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/helpers";

@import "./base/flex_greed";
@import "./base/style";
@import "./base/forms";
@import "./base/icons";

@import "./components/buttons";
@import "./components/accordion";
@import "./components/socials";
@import "./components/share";
@import "./components/modals";
@import "./components/reviews";
@import "./components/breadcrumbs";
@import "./components/projects";
@import "./components/comments";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/sidebar";

@import "./pages/index";
@import "./base/media";
